# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

_Objectives:_

- Learn to use some of the libraries of data science
- Learn the basics of some common languages in data science
- Learn the basics of Jupiter Notebooks

Some of the popular languages that Data Scientists use are:

1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:

1. Panda
2. Numpy
3. Matplolib
4. Seaborn
5. Scikit
6. Keras
7. Tensorflow
8. Pytorch

|Data Science Tools |
| ------ |
| Jupyter |
|Apache Zeppellin| 
| Rstudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
(3*4)+5

17

This a simple arithmetic expression to mutiply then add integers

In [4]:
200/60

3.3333333333333335

This will convert 200 minutes to hours by diving by 60

## Author
Andres Vaillant Bernal